version: "3.9"

services:
  db:
    image: postgres:16
    container_name: my_postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: my_user
      POSTGRES_PASSWORD: my_password
      POSTGRES_DB: my_db
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  metabase:
    image: metabase/metabase:v0.49.12     # стабильная версия
    container_name: metabase
    restart: unless-stopped
    depends_on:
      - db
    ports:
      - "3000:3000"
    environment:
      MB_DB_FILE: /metabase-data/metabase.db
      MB_JETTY_PORT: 3000
      JAVA_TIMEZONE: Europe/Moscow
    volumes:
      - metabase_data:/metabase-data

  grafana:
    image: grafana/grafana:11.1.0         # стабильная версия
    container_name: grafana
    restart: unless-stopped
    depends_on:
      - db
    ports:
      - "3001:3000"
    environment:
      GF_SECURITY_ADMIN_USER: admin
      GF_SECURITY_ADMIN_PASSWORD: admin
    volumes:
      - grafana_data:/var/lib/grafana

volumes:
  db_data:
  metabase_data:
  grafana_data:
